<div class="hero_container">
<div class="hero-content">
    <h1>A comprehensive platfrom for reliable</h1>
    <h2>job opportunities and internships</h2>
    <p>Get Discovered. Gey Hired</p>
    <div class="hero-btn-container">
        <button class="heroBtn btn1">I'm A Job Seeker</button>
        <button class="heroBtn btn2" style="margin: 0 1rem;">I'm A Recruiter</button>
    </div>
</div>

<div class="hero-image">
    <img src="img.png" alt="profit-img" height="550" width="450">

</div>
</div>