<div class="card-container">
    <div class="card-body">
    <% jobs.forEach(job => { %>
    <div class="card-details">
        <span class="card-head">Actively hiring</span>
        <h3><%= job.companyName %></h3>
        <p>Tech <span>Role</span></p>
        <p>Icon and Location</p>
        <p>Salary range</p>
        <div>
       <% job.skills.forEach(skill => {%>
          <span class="skill"><%= skill %></span>
       <% }) %>
        </div>
        <div class="jobBtn-container"> 
            <button class="jobBtn">View details</button>
        </div>
    </div>
    <% }) %>
    </div>
</div>
