<div class="card-container">
    <div class="card-body">
    <% jobs.forEach(job => { %>
    <div class="card-details">
        <span class="card-head">Actively hiring</span>
          <!-- <p> <%= job.id %></p>  -->
        <h3><%= job.companyName %></h3>
        <p>Tech <span>Role</span></p>
        <p>Icon andLocation</p>
        <p>salary range</p>
        <div>
            skills
        </div>

       <div class="jobBtn-container"> <button class="jobBtn">View details</button></div>
        
    </div>
    <% }) %>
</div>
</div>