<div class="newJob">
<h1>Post a new Job</h1>
<form action="/new" method="POST">
    <select class="form-select" aria-label="Default select example">
        <option selected>Select job category</option>
        <option value="1">Tech</option>
        <option value="2">Non Tech</option>
    </select>
    <select class="form-select" aria-label="Default select example">
        <option selected>Select job category</option>
        <option value="1">Tech</option>
        <option value="2">Non Tech</option>
    </select>
</form>
</div>