body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient( rgb(1, 74, 74), rgb(156, 248, 249), rgb(1, 78, 81)); /* Set full height for the parent elements */
}

.navbar{
   background-color: rgb(241, 251, 249); 
   box-shadow: 2px 2px 5px rgba(242, 252, 249, 0.5);
   height: 10vh;
}
.navbar-brand{
    color:rgb(4, 134, 134);
    font-weight: bold;
}
.nav-item .nav-link{
    font-weight: 500;
    font-size: large;
    color:rgb(1, 74, 74);
}

/*hero */

.hero_container {
    height: 100%; /* Full height relative to the parent (body/html) */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
    padding: 3em 6em;
    color: white;
}
.hero-content{
    margin-top: 4em;
    text-shadow: 2px 2px 5px rgb(1, 74, 74);
}
.hero-content h1{
    font-size: 3rem;
    padding: 1rem 0;
}
.hero-content p{
    font-size: 1.5rem;
     color:rgb(1, 74, 74);
     padding: 0.5rem 0;
}
.hero-btn-container button{
    position: relative;
    margin: 1rem 0;
    width: 10rem;
    padding: 9px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgb(198, 240, 240);
    box-shadow: inset 2px 2px 5px rgba(108, 153, 145, 0.5);
    background: linear-gradient(white,rgb(1, 74, 74));
    overflow: hidden;
    cursor: pointer; 
}
button::before {
    content: "Job Seeker";
    position: absolute;
    text-shadow: 2px 2px 5px rgb(225, 239, 239);
    padding: 0.5em;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    color: rgb(2, 75, 75);
    font-weight: 500;
    background: linear-gradient( rgba(1, 53, 53, 0.467), white);
    transition: left 1s ease;
  }
  .btn1::before{
    content: "I'm A Job Seeker";
  }
  .btn2::before{
    content: "I'm A Recruiter";
  }
  
  button:hover::before {
    left: 0; 
    
  }



