body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient( rgb(1, 74, 74), rgb(156, 248, 249), rgb(1, 78, 81));
}

.navbar{
    background: linear-gradient(to right, rgb(246, 237, 231),rgb(231, 249, 249), rgba(248, 237, 246, 0.992),  rgb(248, 248, 231), rgb(241, 246, 237));

   /* background-color: rgb(241, 251, 249);  */
   box-shadow: 2px 2px 5px rgba(242, 252, 249, 0.5);
   height: 10vh;
   border-bottom: 3.5px solid transparent;
   border-image: url('gold.avif') 300 round; 
}
.navbar-brand{
    color:rgb(4, 134, 134);
    font-weight: bold;
}
.nav-item .nav-link, .dropdown-item a{
    font-weight: 500;
    font-size: large;
    color:rgb(1, 74, 74);
}

/*hero */

.hero_container {
    height: 100%; /* Full height relative to the parent (body/html) */
    width: 100%; /* Full width */
    display: flex;
    justify-content: space-between;
    padding: 3em 6em;
    color: white;
}
.hero-content{
    margin-top: 5em;
    text-shadow: 2px 2px 5px rgb(1, 74, 74);
}
.hero-content h1{
    font-size: 3rem;
    padding: 1rem 0;
}
.hero-content p{
    font-size: 1.5rem;
     color:rgb(1, 74, 74);
     padding: 0.5rem 0;
}
.hero-btn-container .heroBtn{
    position: relative;
    margin: 1rem 0;
    width: 10rem;
    padding: 9px 15px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgb(198, 240, 240);
    box-shadow: inset 2px 2px 5px rgba(108, 153, 145, 0.5);
    background: linear-gradient(white,rgb(1, 74, 74));
    overflow: hidden;
    cursor: pointer; 
}
.heroBtn::before {
    content: "Job Seeker";
    position: absolute;
    text-shadow: 2px 2px 5px rgb(225, 239, 239);
    padding: 0.5em;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    color: rgb(2, 75, 75);
    font-weight: 500;
    background: linear-gradient( rgba(1, 53, 53, 0.467), white);
    transition: left 1s ease;
  }
  .btn1::before{
    content: "I'm A Job Seeker";
  }
  .btn2::before{
    content: "I'm A Recruiter";
  }
  
  .heroBtn:hover::before {
    left: 0; 
    
  }

   /* Jobs pages */
   .card-container{
    width: 100%;

   }

   .card-body{
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
   }

   .card-details{
    width: 19em;
    margin: 10px;
    padding: 2em;
    border-radius: 10px;
    background: linear-gradient( rgb(1, 74, 74), rgb(156, 248, 249), rgb(1, 78, 81));
    box-shadow: inset 5px 5px 30px rgba(1, 45, 45, 0.986);
   }
  .jobBtn-container{
    width: 100%;
    text-align: center;
  }
  .jobBtn{
    width: 14em;
    margin-top: 1em;
    padding:0.3em;
    border-width: 3.5px;
    border-image: url('gold.avif') 100 round; 
    /* border-radius: 5px; */
    font-weight: 500;
    font-size: 17px;
    color: white;
    text-shadow: 2px 2px 5px rgb(1, 44, 44);
    box-shadow: 2px 2px 10px rgb(211, 254, 254);
    background: linear-gradient( rgba(112, 113, 113, 0.23), white);
  }
  .card-head{
    width: 14em;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    color: rgb(2, 132, 137);
    font-weight: 500;
    margin-bottom: 1rem;
  } 
  .card-details h3{
    margin-top: 15px;
    color: white;
  }
.skill{
    border: 1px solid white;
    border-image: url('gold.avif') 200 round; 
    padding: 2px 7px;
    margin-top: 5px;
    color: white;
    text-shadow: 2px 2px 5px rgb(1, 27, 27);
}

/* Login Form */
.loginForm {
    text-align: center;
    margin: 5em auto;
    width: 50%;
    border: 5px solid transparent;
    border-image: url('gold.avif') 50 round;
    padding: 1rem;
    background-color: white;
    box-shadow: inset 2px 2px 10px rgb(3, 82, 82);
}


